body
{
margin:0px;
padding:0px;
}
#wrapper
{
background:white;
position:relative;
height:700px;
width:100%;
z-index:100;
}
#image
{
float:left;
position:fixed;
width:200px;
height:125px;
top:0px;
z-index:800;
}
#logo
{
float:left;
z-index:800;
position:fixed;
}
#h1
{
color:black;
}
#top
{
background:#008B00;
position:fixed;
width:100%;
height:125px;
float:left;
z-index:200;
}
#main
{
width:100%;
height:100%;
background-color:#C0C0C0;
float:right;
position:relative;
top:125px;
z-index:100;
padding:10px;
}
#click
{
width:100%;
height:40px;
background-color:black;
position:relative;
bottom:30px;
padding:10px;
}
#slider
{
width:100%;
height:150px;
background-color:#C0C0C0;
position:relative;
bottom:30px;
padding:10px;
}