body 
{
background-image:url("pics/back.jpg");
margin:0px;
padding:0px;
display:none;
}
#wrapper
{
background-color:black;
overflow:hidden;
width:70%;
height:1000px;
margin:0 auto;
}
#top
{
background-color:black;
width:100%;
height:100px;
}
#banner
{
background-color:white;
width:97%;
height:20px;
margin:0 auto;
}
#h1
{
color:white;
font-family:serif;
}
ul {
  list-style:none;
  width:70%;
  font-size:0;
  margin:0 auto;
}

li {
  display:inline-block;
  width:20%;
  height:7px;
}

li:nth-child(1) {
  background:#2ecc71;
}

li:nth-child(2) {
  background:#3498db;
}

li:nth-child(3) {
  background:#f1c40f;
}

li:nth-child(4) {
  background:#e74c3c;
}

li:nth-child(5) {
  background:#9b59b6;
}
